doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title=htmlWebpackPlugin.options.title
    body
        h1.a Hello world 1
        h2.b Headline H1
        p Text Style: Main text small 14 Font Family: PF DinText Pro Font Style: Light Font Size: 14px Line Height: 21px Line Height: 150% Align: Left Vertical Align: Top Letter Spacing: 2% Paragraph Spacing: 13px
        div#test